<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biancheng.mapper.UserInfoMapper">

    <resultMap id="userAndOrder" type="com.biancheng.po.UserInfo">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="pwd" column="pwd" />
        <collection property="orderInfoList" ofType="com.biancheng.po.OrderInfo"
        column="id" select="com.biancheng.mapper.OrderInfoMapper.selectOrderById" />
    </resultMap>
    
    <select id="selectUserOrderById1" parameterType="Integer" resultMap="userAndOrder">
        select id,name,pwd from userInfo where id = #{id}
    </select>

</mapper>